body {
    background: blueviolet;
    font-family: 'Helvetica', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#weather-container {
    background: rgba(255,255,255,0.3);
    max-width: 400px;
    padding:20px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    text-align: center;
}

h2, label, p{
    color: #fff;
    margin: 8px 0;
}

input {
    width: calc(100% - 16px);
    border-radius: 10px;
    padding: 8px;
    box-sizing: 10px;
    border: 1px solid white;
    margin-top: 20px;
}

button {
    background:#debff4;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    font-size: 15px;
}

button:hover {
    background: #b5a0d6;
}

#temp-div p{
    font-size: 60px;
    margin-top: -30px;
}

#weather-info {
    font-size: 20px;
}

#weather-icon {
    width: 100px;
    margin: 20px auto;
    margin-bottom: 0;
    display: none;
    height: 200px;
}

#hourly-forecast {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    white-space: nowrap;
}

.hourly-item{
    flex: 0 0 auto;
    width: 80px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: white;
}

.hourly-item img {
    width: 30px;
    height:30px;
    margin-bottom: 5px;
}

#hourly-heading{
    color:#fff;
    margin-top: 10px;
}